doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    meta( name="viewport" content="width=device-width, initial-scale=1")
    //link(rel='stylesheet', href='http://lbesson.bitbucket.org/md/themes/cyborg.min.css')
    link(rel='stylesheet', href='http://lbesson.bitbucket.org/md/themes/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
  body
     nav.navbar.navbar-default.navbar-fixed-top
      div.container-fluid
          ul.nav.navbar-nav
              li(role="presentation" )
                img(src="/images/logo_small.png" class="img-logo")
              li(role="presentation" )
                a(href="#home", class="anchor") presentation
              li(role="presentation" )
                a(href="#conference", class="anchor") conférences
              li(role="presentation" )
                a(href="#ateliers", class="anchor") ateliers
              li(role="presentation" )
                a(href="#install", class="anchor") perf/expos
              li(role="presentation" )
                a(href="#concert", class="anchor") concerts
              li(role="presentation" )
                a(href="#infos", class="anchor") infos pratiques
              li(role="presentation" )
                a(href="#contact", class="anchor") contact
              li(role="presentation" )
                a(href="#stream", class="anchor") streaming
  block body

