h2 signup
form(method='post', action="/signup")
  p
    label(for="username") username
    input(id="username", type="text",placeholder='username',required="true", name="username")
  p
    label(for="password") password
    input(id="password", type='text', placeholder='password', required="true", name="password")
  p
    input(type='submit',name="signup", id='signup', value='register')
    a(href="/signin", title="signin") signin
