include ./layout.jade
  div.container-fluid
    #wrapper
     #logo
     each item in torender
          
          div(id= item.divId, class="section")!= item.html
            if isAuth 
              a(href="/" + item.name + "/edit")= "Edit this Page"
