include ./layout.jade
  div.container-fluid
     #logo
     each item in torender     
        div(id= item.divId, class="content_box")!= item.html
          if isAuth 
            a(href="/" + item.name + "/edit")= "Edit this Page"
