* { margin:0; padding:0; }

@font-face {
  font-family: 'Frontage';
  src: url("/fonts/Frontage-Bold.otf") format("opentype");
}


@font-face {
  font-family: 'Frontage-regular';
  src: url("/fonts/Frontage-Bold.otf") format("opentype");
}

a:link {
    color: #777777;
}

/* visited link */
a:visited {
    color: #f16237;
}
.section {
  margin-left: auto;
  margin-right: auto;
  min-width:70%;  
  max-width:70%;
  padding-bottom:5em;    
}
.section img{
  height:5%;
  width:5%;
}

.section h3{
  text-align:right;
  margin-right:2%;
}

body {
  padding-bottom:0;
  padding-top: 120px;

}

#main {
  text-align:center;
  min-width: 30%; 
  padding-bottom:10em;
}

@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

a {
  color: #00B7FF;
}

.navbar-fixed-top {
  font-family: 'Frontage-regular';
  background-color: #ffffff;
  font-size:0.95vw;
  border-color: #f1623b;;  
}

.navbar-default .navbar-nav>li>a{
  color:#000000;
   margin-left: 0; width: auto !important;
}

#home {
  /*display:block;*/
}
.img-logo{
  padding-top:30%;
  padding-left:10%;
  max-width:30px;
}
/*
h3 {
  background:#ffffff;
  max-width:15%;
  transform:rotate(9deg);
  top:-10%;
  border-radius:10px;
  color:#000000;
}
*/

#main h3{
  text-align:center;
}
.section table {
  /*display: table;*/
  margin-left: auto;
  margin-right: auto;
  border-collapse : collapse;
  text-align:center;
  min-width:100%
  
}
.section table th,
.section table td {
  padding : 4px 8px;
  border : 1px solid #aaa;
  min-width:30px;
}
.section ul {
  padding-left: 2em;
}

#logo {
  display: block;
  /*margin-top: 50px;*/
  margin-left: auto;
  margin-right: auto;
  width:40%;
  padding: 10%;
  background-image: url(../images/logo_thsf.svg);
  background-size: contain;
  background-position: top center; 
/*  filter: invert(100%);
  -webkit-filter: invert(100%);
*/
  background-repeat: no-repeat;
}

#title_text{
  
  font-family: "andale mono", "lucida console", monospace;
  /*font-size:30px;*/
  font-size:1vw;
  color: #fff;
  opacity:1;
  padding-left:70%;
  padding-top:5%;

}

